body {
  margin: 0;
  text-align: center;

}

p {
  color: #40514E;
  font-family: alegreya, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  font-family: pacifico, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0 auto 0 auto;
  font-size: 5.65rem;
  height: 250px;

}

h2 {
  margin: 20px;
  color: #66BFBF;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;


}

h3 {
  color: #11999E;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
}

hr {
  border: dotted #FFD5CD 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-size: 1.3rem;
  font-family: alegreya, serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;

}

.top {
  background-color: #E4F9F5;

  padding-top: 30px;
}

.middle-container {
  margin: 50px auto 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 60%;
  margin: 100px auto 10% auto;
  text-align: left;
  line-height: 2;

}

.top-cloud {
  position: relative;
  left: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.sub {
  margin-bottom: 50px;
}

.python{
  float: left;
}

.wd{
  float: right;
  margin-left: 20px;
}

.sql {
  float: left;

}

.skill{
  margin: 20px auto 0 auto ;
}

.intro {
  width: 50%;
  margin: auto;
  font-size: 1.4rem;
}

.profile {
  margin-top: 70px;
}

.contact-me {
  width: 60%;
  margin: auto;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.95rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  padding: 20px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: acumin-pro, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
