body {
  margin: 0;
  text-align: center;

}

p {
  color: #40514E;
  font-family: alegreya, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  font-family: pacifico, sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0 auto 0 auto;
  font-size: 5.65rem;
  height: 250px;

}

h2 {
  margin: 20px;
  color: #66BFBF;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;


}

h3 {
  color: #11999E;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
}

hr {
  border: dotted #FFD5CD 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.top {
  background-color: #E4F9F5;

  padding-top: 30px;
}

.middle-container {
  margin: 50px auto 100px auto;
}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 60%;
  margin: 100px auto 10% auto;
  text-align: left;
  line-height: 2;

}

.top-cloud {
  position: relative;
  left: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.sub {
  margin-bottom: 50px;
}

.python{
  float: left;
}

.wd{
  float: right;
  margin-left: 20px;
}

.sql {
  float: left;

}

.skill{
  margin: 20px auto 0 auto ;
}

.intro {
  width: 50%;
  margin: auto;
  font-size: 1.2rem;
}

.profile {
  margin-top: 70px;
}


.contact-me {
  width: 50%;
  margin: auto;
}
